{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{high-charts chartOptions=chartOptions content=chartData}}
    {{/title.text}}
  {{/card.title}}
{{/paper-card}}
