{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#link-to "index"}}<h2>Noise App</h2>{{/link-to}}
    <span class="flex"></span>
    {{#link-to "record"}}
      {{#paper-button iconButton=true}}
        {{paper-icon "settings-voice"}}
      {{/paper-button}}
    {{/link-to}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
