{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}

      <div class="layout-row flex">
        <div class="flex">
          {{#paper-button iconButton=true}}
            {{paper-icon "settings-voice"}}
          {{/paper-button}}
        </div>

        <div class="flex">
          <div id="volume">
            {{paper-input label="Volume" value=value onChange=(action "soundChange")}}
            {{paper-input textarea=true label="Buffer" value=computaBuffa onChange=(action "soundChange")}}
          </div>
        </div>
      </div>

      <div id="value" style="width: 1px; background: green; height: 20px;"></div>

    {{/title.text}}
  {{/card.title}}
{{/paper-card}}
