{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      <div class="layout-row layout-align-center-center">
        {{weight-change weight=weight.value changeValue="-1.0"}}
        {{weight-change weight=weight.value changeValue="-0.5"}}
        {{weight-change weight=weight.value changeValue="-0.1"}}
        <h1>&nbsp; {{prettyValue}} Kg &nbsp;</h1>
        {{weight-change weight=weight.value changeValue="+0.1"}}
        {{weight-change weight=weight.value changeValue="+0.5"}}
        {{weight-change weight=weight.value changeValue="+1.0"}}
      </div>
      {{paper-slider flex=true value=weight.value step='0.1' min=minWeight max=maxWeight}}
      <div class="layout-row layout-align-center-center">
        {{pikaday-input
          format="DD/MM/YYYY"
          value=weight.createdAt
          placeholder="DD/MM/YYYY"
          onPikadaySelect=(action 'dateSelected')}}
      </div>
      {{#paper-button onClick=(action "save") primary=true}}
        {{#if weight.isNew}}
          Create
        {{else}}
          Update
        {{/if}}
      {{/paper-button}}
    {{/title.text}}
  {{/card.title}}
{{/paper-card}}
